body{
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
            font-weight: 100 !important;
        }
        
    h1,h2,h3,h4,h5{
            font-weight:100 !important;
        }   
    
    .ui-panel-content-wrap{
             background:#55b3d6 ;
        }
    .logo-padding{
            padding:40px 0;
        }
    
    .no-background{
            background:#55b3d6 !important; 
            border-bottom:none !important;
    }
    
    /*Allow for bigger titles in header*/
    .ui-header .ui-title, .ui-footer .ui-title {
    margin: .6em 15% .8em;
    
    }
    
    /*hide menu button styling*/
    #panel-button{
        background: none !important;
        border:none !important;
    }
    
    #panel-button .ui-btn-inner{
        border:none !important;
    }
    
    /*Hide Box shadow on menu panel button*/
    .ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow {
    -moz-box-shadow: 0 0px 0 rgba(255,255,255,.1);
    -webkit-box-shadow: 0 0px 0 rgba(255,255,255,.1);
    box-shadow: 0 0px 0 rgba(255,255,255,.1);
    }
    
    
    .ui-btn-hover-b, .ui-btn-up-b{font-weight:100 !important;}
    
    .accordian{background:#fff;}
    
    #calculation_result_text{
	    background: #74b637;
		font-size:4em;
		color:#fff;
		padding:30px 0px;
		font-weight:100;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		border-top: 2px solid #fff;
		border-color:rgba(255,255,255,.2);
    }
    
    div.ui-input-text{
	    width:100% !important;
	    background:#fff;
	    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    
    div.ui-input-text input.ui-input-text{}